<div>
    <!-- REVIEW -->
    <strong>Review</strong> 
    <br>
    <p> <%= review.content%> </p>
    <!-- IMAGES -->
    <div>
    <% review.decodedImages.forEach(image => { %>
        <img height=200 src="<%=image%>"> 
    <% }) %>
    </div> 
    <br>
    <span> <%= review.createdAt.toLocaleString('en-UK', {
                    timeStyle: "short",
                    dateStyle: "medium"})%> </span>
    <br>
    <br>
    <!-- COMMENTS -->
    <strong>Comments</strong>
    <% review.comment_ids.forEach(comment => { %>
        <%- include('../comments/_comment.ejs', {comment : comment}) %> 
    <% }) %>
    <br>
    <!-- ADD COMMENT FORM -->
    <form action="/comments" method="POST"> 
        <input type="text" name="comment">
        <button type="submit" name="review" value=<%=review.id%> >Comment</button>
        <br><br>
    </form>
</div>