<body>
    <form action="/exhibitions/<%=exhibition.id%>?_method=PUT" method="POST">
        <div>
            <label> Title<sup>*</sup>  
                <input required type="text" name="title" value="<%=exhibition.title%>" /> 
            </label> 
        </div>
    <br>
        <div>
            <label> Location<sup>*</sup>
                <select required name="location">
                    <% locations.forEach (location => { %>
                        <% if (location._id === exhibition.location_id) { %> 
                        <option selected value="<%= location._id%>" label="<%= location.location %>"> </option>
                        <% } else { %>
                        <option value="<%= location._id %>" label="<%= location.location%>"> </option>
                        <% } %>
                    <% }) %>
                </select> 
            </label> 
        </div>
    <br>
        <button type="submit"> Update </button>
    </form>
</body>