<body>
    <!-- EXHIBITION -->
    <div><h2> <%=exhibition.title%></h2></div>
    <div><span><%=exhibition.location_id.location%></span></div> 
    <br>
    <!-- ADD REVIEW FORM -->
    <form action="/reviews" method="POST">
        <lable> Your thoughts: <br>
            <textarea required style="width:60%" name="review" ></textarea>
        </lable> <br>
        <br>
        <lable> Images <br>
            <input type="file" class="filepond" name="image" accept="image/*" multiple > 
        </lable> 
        <!-- I want this button to display/hide form onclick -->
        <button type="submit" name="exhibition" value="<%=exhibition._id%>"> + </button>
    </form>
    <br>
    <br>
    <!-- REVIEWS -->
    <% exhibition.review_ids.forEach(review => { %>
        <%- include('../reviews/_review.ejs', {review: review}) %>
        <br>
    <% }) %>
    <!-- BUTTONS -->
    <form action="<%=exhibition.id%>/edit">
        <button type="submit">EDIT</button>   
    </form>
    <br>
    <form method="POST" action="/exhibitions/<%=exhibition.id%>?_method=DELETE">
        <button type="submit">DELETE</button>   
    </form>
</body>

