<%- include('./_search', {searchOptions:searchOptions}) %>
<% exhibitions.forEach(exhibition => { %>
    
    <img height=50 src="<%= imageMap[exhibition.id]%>" >
    <div> <a href="/exhibitions/<%=exhibition.id%>"> <%= exhibition.title %> </a> </div>
    <div> <%= reviewMap[exhibition.id].content %> </div>
    <form method="POST" action="exhibitions/<%=exhibition.id%>?_method=DELETE">
        <button type="submit">DELETE</button>
    </form>
    <br>
<% }) %>


<!-- <h2>RECENTLY ADDED</h2>
<br>
<h2>BEST RATED</h2>
<br>
<h2>MOST HEATED</h2>
<br> -->