<!-- SEARCH -->
<form action="/exhibitions" method="GET">
    <label> Title </label>
        <input type="text" name="title" value="<%=searchOptions.title%>">
    <label> Last Reviewed: </label>
        <input type="date" name="lastReviewed" value="<%=searchOptions.lastReviewed%>">
    <label> Location
        <select name="location">
            <option value="" label=""></option>
            <% locations.forEach (location => { %>
                <% if (location.id === searchOptions.location) { %> 
                <option selected value="<%= location._id%>" label="<%= location.location %>"> </option>
                <% } else { %>
                <option value="<%= location._id %>" label="<%= location.location%>"> </option>
                <% } %>
            <% }) %>
        </select> 
    </label>
    <button type="submit"> Search </button>
</form>
<br>
<!-- EXHIBITIONS -->
<% exhibitions.forEach(exhibition => { %>
    <img height=50 src="<%= imageMap[exhibition.id]%>" >
    <div> <a href="/exhibitions/<%=exhibition.id%>"> <%= exhibition.title %> </a> </div>
    <div> <%= exhibition.review_ids.pop().content %> </div>
    <br>
<% }) %>