<h2>RECENTLY ADDED</h2>
<br>
<% exhibitions.forEach(exhibition => { %>
    <div> <%= exhibition.title %> </div>
    <div> <%= exhibition.review %> </div> 
    <br>
<% }) %>
<br>
<h2>BEST RATED</h2>
<br>
<% exhibitions.forEach(exhibition => { %>
    <div> <%= exhibition.title %> </div>
    <div> <%= exhibition.review %> </div> 
    <br>
<% }) %>
<br>
<h2>MOST HEATED</h2>
<br>
<% exhibitions.forEach(exhibition => { %>
    <div> <%= exhibition.title %> </div>
    <div> <%= exhibition.review %> </div> 
    <br>
<% }) %>