<h2>SEARCH</h2>
<br>
<form>
    <label> Title </label>
    <input type="text" name="title" value="<%=searchOptions.title%>">
    <label> Keyword </label>
    <input type="text" name="keyword" value="<%=searchOptions.keyword%>">
    <!-- <label> Place </label>
    <input type="text" name="place" value="<%=searchOptions.place%>">
    <label> City </label>
    <input type="text" name="city" value="<%=searchOptions.city%>">
    <label> Date </label>
    <input type="date" name="date" value="<%=searchOptions.date%>"> -->
    <button type="submit"> Search </button>
</form>
<br>
<% exhibitions.forEach(exhibition => { %>
    <div> <%= exhibition.title %> </div>
    <div> <%= exhibition.review %> </div> 
    <br>
<% }) %>
